#BMW320{
    background-image: url(../img/v2-320azuk.png);
    background-size: cover;
    height: 48rem;
}

#x1{
    background-image: url(../img/banner-ixi-desktop.jpg);
    background-size: cover;
    height: 48rem;
}

#x3{
    background-image: url(../img/Header_1680x756.jpg);
    background-size: cover;
    height: 48rem;
}

